.ant-layout {
  height: 100vh;
}
.ant-menu-vertical li.ant-menu-item,
.ant-menu-vertical li.ant-menu-item:not(:last-child) {
  margin: 0;
  text-align: right;
}
.ant-layout-content {
  padding: 20px;
  overflow-y: auto;
}
